@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.conteneur {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: rgb(179, 131, 226);
}

form {
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

form input {
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  display: block;
  width: 100%;
}
li {
  list-style-type: none;
  cursor: pointer;
}

.terminer {
  text-decoration: line-through;
}
